:root {
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    /* height: auto; */
}


.header-container,
.container {
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.section-question,
.hero,
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}